MISTRAL_API_KEY=your_api_key_no_quotes # if using Mistral models or Mistral OCR
OPENAI_API_KEY=your_api_key_no_quotes # if using OpenAI models
GEMINI_API_KEY=your_api_key_no_quotes # if using Gemini models
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service/account.json # if using remote Google Cloud storage